<c-container>
    <c-row>
      <c-col sm="8"> 
        <h5>關於</h5>
        {{introduce}}
    </c-col>
      <c-col sm="4">
        <h5>牛肝菌</h5>
        <img src="../../assets/img/mush.jpg" alt="" width="200">
      </c-col>
    </c-row>
    <c-row>
      <c-col sm> 
        <h5>技能</h5>
        <ul>
            <li *ngFor="let i of skill">{{i}}</li>
        </ul>
    </c-col>
      <c-col sm> 
        <h5>興趣</h5>
        <ul>
            <li *ngFor="let i of hobbie">{{i}}</li>
        </ul>
    </c-col>
      <c-col sm> 
        <h5>收藏</h5>
    </c-col>
    </c-row>
  </c-container>